<?php
/*
 * Copyright (c) 2012-2016 Veridu Ltd <https://veridu.com>
 * All rights reserved.
 */

declare(strict_types = 1);

if (! defined('__VERSION__')) {
    define('__VERSION__', '1.0');
}

if (! defined('__HNDKEY__')) {
    define('__HNDKEY__', 'XPTO');
}

if (! defined('__HNDSEC__')) {
    define('__HNDSEC__', 'OTPX');
}

if (! defined('__AUTHUSER__')) {
    define('__AUTHUSER__', 'ruth');
}

if (! defined('__AUTHPASS__')) {
    define('__AUTHPASS__', 'htur');
}

if (! defined('__DEV__')) {
    define('__DEV__', false);
}
